* {
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
}

body {
    padding-bottom: 300px;
}

h1 {
    padding: 50px;
    margin-bottom: 35px;
    justify-content: center;
}

h2 {
    margin-top: 35px;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

#app {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 24px;
}

.submit {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-self: center;
    margin-bottom: 0px;
    margin-left: 30px;
}

.list {
    display: grid;
    grid-template-columns: 500px 120px 120px;
    margin: 8px;
    line-height: 12px;
    justify-content: center;
}

p {
    margin: 8px;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    border-radius: 0%;
    border-style: solid, 10px, white;
    margin-bottom: 50px;
}